<img src="myimg.jpg" width="100" height="120">
<h1>6330166021</h1>
<h2>Nuttapol Onton</h2>
<h3>Education</h3>
<style>table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }</style>
<table>
    <tr>
        <th>Education</th>
        <th>Name</th>
        <th>Grade</th>
    </tr>
    <tr>
        <td>primary school</td>
        <td>Pitchayasuksa school</td>
        <td>4.00</td>
    </tr>
    <tr>
        <td>high school</td>
        <td>Suankularbwithayalai Nonyhaburi school</td>
        <td>4.00</td>
    </tr>
    <tr>
        <td>University</td>
        <td>Chulalongkorn University</td>
        <td>3.52</td>
    </tr>
</table>
<p>This is a first project for ruby on rails.</p>